.toptoolbar {
  width: 100%;
}

.topbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrolled {
  background-color: #100f0f;
  border-bottom: .5px solid rgba(255, 255, 255, 0.271);
  
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  
  transition: all 0.8s ease-in-out;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FACC15;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--bg-color-secondary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

li {
  display: inline;
}

.nameBand {
  color: #FACC15;
}

a {
  display: block;
  font-size: var(--fs-topbar);
  color: var(--bg-color-secondary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #FACC15;
}

.active {
  font-weight: bold;
  color: #FACC15;
}

/* Versão Mobile */
@media (max-width: 768px) {
  .topbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }

  ul {
    flex-direction: column;
    width: 100%;
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  ul.open {
    transform: translateX(0);
  }

  li {
    display: block;
    width: 100%;
  }

  a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}
