.container {
  margin: 0 auto;
}

.column {
  width: 50%;
  padding: 20px;
  transition: transform 0.7s ease-in-out;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .column {
    width: 100%;
    padding: 10px;
    transform: none !important;
  }

  .text-lg {
    text-align: justify;
    font-size: 1rem;
  }
}
